.destinations {
    background-image: url(/public/src/assets/Images/destination/background-destination-mobile.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.container {
    width: 100%;
    height: fit-content;
    min-height: 100vh;
    position: relative;

    .destinations--section {
        width: 100%;
        height: fit-content;
        display: flex;
        flex-direction: column;


        .destinations--data-container {
            width: 100%;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;

            img {
                width: 220px;
                padding: 25px 0;
            }

            .destinations--data-right {
                width: 100%;
                display: flex;
                flex-direction: column;
                align-items: center;
                padding: 0 20px 20px;
    
                menu {
                    width: 250px;
                    height: 70px;
                    display: flex;
                    align-items: flex-start;
                    justify-content: space-around;
                    padding: 20px 0;
                    z-index: 1;
    
                    p {
                        width: fit-content;
                        color: var(--sky);
                        text-transform: uppercase;
                        position: relative;
                    }
    
                    p::after {
                        position: absolute;
                        bottom: -3px;
                        left: 0;
                        content: "";
                        width: 100%;
                        border-bottom: 3px solid var(--grey);
                        transform: scaleX(0);
                        transform-origin: center;
                        transition: transform .4s;
                        z-index: -1;
                    }
    
                    p:hover::after {
                        transform: scaleX(1);
                    }

                    .active {
                        border-bottom: 3px solid var(--white);
                    }
                }
    
                h1 {
                    font-size: 56px;
                    font-family: 'Bellefair', sans-serif;
                    font-weight: 400;
                    text-transform: uppercase;
                }
    
                .destinations--description {
                    width: 100%;
                    height: auto;
                    color: var(--sky);
                    text-align: center;
                    font-size: 15px;
                    font-weight: 400;
                    line-height: 25px;
                    letter-spacing: 1.25px;
                    padding-bottom: 20px;
                }
    
                .destinations--numbers {
                    width: 100%;
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    text-transform: uppercase;
                    gap: 10px;
                    text-align: center;
                    font-size: 28px;
                    font-family: 'Bellefair', sans-serif;
                    border-top: 1px solid var(--grey);
                    padding-top: 20px;
    
                    .subtitle {
                        color: var(--sky);
                        font-size: 14px;
                        letter-spacing: 2px;
                    }
    
                    .num {
                        font-family: 'Bellefair', sans-serif;
                    }
                }
            }
        }
    }
}

@media (min-width: 768px) {
    .destinations {
        background-image: url(/public/src/assets/Images/destination/background-destination-tablet.jpg);
    }

    .container {

        .destinations--section {
            width: 100%;
            min-height: calc(100vh - 90px);
            padding: 20px;
            align-items: flex-start;
            justify-content: flex-start;

            .destinations--data-container {
                img {
                    width: 350px;
                }
    
                .destinations--data-right {

                    menu {
                        width: 270px;
                        height: 70px;
                        display: flex;
                        align-items: flex-start;
                        justify-content: space-around;
                        padding: 20px 0;
        
                        p {
                            font-size: 20px;
                        }
                    }
        
                    h1 {
                        font-size: 68px;
                    }
        
                    .destinations--description {
                        font-size: 22px;
                        letter-spacing: 1.4px;
                    }
        
                    .destinations--numbers {
                        flex-direction: row;
                        justify-content: space-evenly;
                        text-transform: uppercase;
                        font-size: 33px;
        
                        .subtitle {
                            font-size: 17px;
                        }
                    }
                }
            }
        }
    }
}

@media (min-width: 1024px) {
    .destinations {
        max-width: 1440px;
        box-shadow: 0 0 5em var(--grey);
        background-image: url(/public/src/assets/Images/destination/background-destination-desktop.jpg);

    }

    .Moon {
        box-shadow: -2rem 0 3em var(--grey), 2rem 0 3em var(--grey-op);
    }

    .Mars {
        box-shadow: -2rem 0 3em var(--mars), 2rem 0 3em var(--grey-op);
    }

    .Titan {
        box-shadow: -2rem 0 3em var(--titan), 2rem 0 3em var(--grey-op);
    }

    .Europa {
        box-shadow: -2rem 0 3em var(--europa), 2rem 0 3em var(--grey-op);
    }

    .container {

        .destinations--section {
            width: 100%;
            min-height: calc(100vh - 110px);
            padding: 20px;

            .destinations--data-container {
                min-height: calc(100vh - 180px);
                flex-direction: row;
                align-items: center;
                justify-content: space-evenly;

                img {
                    width: 400px;
                }
    
                .destinations--data-right {
                    width: 550px;

                    menu {
                        width: 320px;

                        p {
                            font-size: 24px;
                        }
                    }
        
                    h1 {
                        font-size: 100px;
                    }
        
                    .destinations--description {
                        text-align: left;
                        font-size: 23px;
                        font-weight: 200;
                        letter-spacing: 1.5px;
                    }
        
                    .destinations--numbers {
                        flex-direction: row;
                        justify-content: space-evenly;
                        text-transform: uppercase;
                        font-size: 38px;
        
                        .subtitle {
                            font-size: 20px;
                        }
                    }
                }
            }
        }
    }
}

@media (min-width: 1440px) {
    .container {
        .destinations--section {
            .destinations--data-container {
                img {
                    width: 600px;
                }
            }
        }

    }

}